
main {
	width: 80%;
	margin: 0 auto;
	background:#def6ff;
	color: #003250;
	
	
}

#copyright {
	color: #5ea9ff;
	font-style: italic;

}

header {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	background:#def6ff
	color: #003250;

}

.emphasis {
	font-size: 2em;
	color: #6392ff;
	font-weight: bold;
	
}

article {
	padding: 15px;
}

body {
	font-family: Helvetica sans-serif;
	background: #5ab5ff;
}

ul li {
	width: 33%;
	float: left;
}

img {
	display: inline-block;
	width: 600px;
	background: #293aff;
	padding: 4px;
	
}

